<!DOCTYPE html>
	<html>
		<head>
			<title>Sketch 13</title>
		</head>
		<body>
			<p>In the &nbsp d &nbsp e &nbsp s &nbsp e &nbsp r &nbsp t</p>
			<p>I saw a &nbsp c &nbsp r &nbsp e &nbsp a &nbsp t &nbsp u &nbsp r &nbsp e &nbsp , &nbsp naked, bestial,</p>
			<p>Who, squatting upon the &nbsp g &nbsp r &nbsp o &nbsp u &nbsp n &nbsp d &nbsp ,</p>
			<p>held his &nbsp h &nbsp e &nbsp a &nbsp r &nbsp t &nbsp in his &nbsp h &nbsp a &nbsp n &nbsp d &nbsp s &nbsp ,</p>
			<p>And ate of it.</p>
			<p>I said, Is it good &nbsp f &nbsp r &nbsp i &nbsp e &nbsp n &nbsp d &nbsp ?</p>
			<p>It is bitter bitter, he answered;</p>
			<p>But I like it</p>
			<p>Because it is bitter,</p>
			<p>And because it is my &nbsp h &nbsp e &nbsp a &nbsp r &nbsp t &nbsp .</p>
		</body>	
	</html>