<!DOCTYPE html>
	<html>
		<head>
			<title>Sketch 3</title>
		</head>
		<body>
			<p>In the desert</p>
			<p>I saw a creature, naked, bestial,</p>
			<p>Who, squatting upon the ground,</p>
			<p>held his heart in his hands,</p>
			<p>And ate of it.</p>
			<p>I said,</p> 
			<br>
			<br>
			<p>Is it good friend?</p>
			<br>
			<br>
			<p>It is bitter bitter,</p>
			<br>
			<br>
			<p>He answered;</p>
			<br>
			<br>
			<p>But I like it</p>
			<p>Because it is bitter,</p>
			<p>And because it is my heart.</p>
		</body>	
	</html>