	<html>
		<head>
			<title>Sketch 4</title>
		</head>
		<body>
			<p>In the desert</p>
			<p>I saw a creature, naked, bestial,</p>
			<p>Who, squatting upon the ground,</p>
			<p>held his heart in his hands,</p>
			<p>And ate of it.</p>
			<p>I said, &nbsp&nbsp Is &nbsp&nbsp it &nbsp&nbsp good &nbsp&nbsp friend?</p>
			<p>It &nbsp&nbsp is &nbsp&nbsp bitter &nbsp&nbsp bitter, &nbsp&nbsp he answered;</p>
			<p>But &nbsp&nbsp I &nbsp&nbsp like &nbsp&nbsp it</p>
			<p>Because &nbsp&nbsp it &nbsp&nbsp is &nbsp&nbsp bitter,</p>
			<p>And &nbsp&nbsp because &nbsp&nbsp it &nbsp&nbsp is &nbsp&nbsp my &nbsp&nbsp heart.</p>
		</body>	
	</html>