<!DOCTYPE html>
	<html>
		<head>
			<title>Sketch 10</title>
		</head>
		<body>
			<p>I &nbsp n &nbsp t &nbsp h &nbsp e &nbsp d &nbsp e &nbsp s &nbsp e &nbsp r &nbsp t</p>
			<p>I &nbsp s &nbsp a &nbsp w &nbsp a &nbsp c &nbsp r &nbsp e &nbsp a &nbsp t &nbsp u &nbsp r &nbsp e &nbsp , &nbsp n &nbsp a &nbsp k &nbsp e &nbsp d &nbsp , &nbsp b &nbsp e &nbsp s &nbsp t &nbsp i &nbsp a &nbsp l,</p>
			<p>W &nbsp h &nbsp o &nbsp , &nbsp s &nbsp q &nbsp u &nbsp a &nbsp t &nbsp t &nbsp i &nbsp n &nbsp g &nbsp u &nbsp p &nbsp o &nbsp n &nbsp t &nbsp h &nbsp e &nbsp g &nbsp r &nbsp o &nbsp u &nbsp n &nbsp d &nbsp ,</p>
			<p>h &nbsp e &nbsp l &nbsp d &nbsp h &nbsp i &nbsp s &nbsp h &nbsp e &nbsp a &nbsp r &nbsp t &nbsp i &nbsp n &nbsp h &nbsp i &nbsp s &nbsp h &nbsp a &nbsp n &nbsp d &nbsps &nbsp,</p>
			<p>A &nbsp n &nbsp d &nbsp a &nbsp t &nbsp e &nbsp o &nbsp f &nbsp i &nbsp t &nbsp .</p>
			<p>I &nbsp s &nbsp a &nbsp i &nbsp d &nbsp , &nbsp I &nbsp s &nbsp i &nbsp t &nbsp g &nbsp o &nbsp o &nbspd &nbsp f &nbsp r &nbsp i &nbsp e &nbsp n &nbsp d &nbsp ?</p>
			<p>I &nbsp t &nbsp i &nbsp s &nbsp b &nbsp i &nbsp t &nbsp t &nbsp e &nbsp r &nbsp b &nbsp i &nbsp t &nbsp t &nbsp e &nbsp r &nbsp , &nbsp &nbsp h &nbsp e &nbsp a &nbsp n &nbsp s &nbsp w &nbsp e &nbsp r &nbsp e &nbsp d &nbsp ;</p>
			<p>B &nbsp u &nbsp t &nbsp I &nbsp l &nbsp i &nbsp k &nbsp e &nbsp i &nbsp t</p>
			<p>B &nbsp e &nbsp c &nbsp a &nbsp u &nbsp s &nbsp e &nbsp i &nbsp t &nbsp i &nbsp s &nbsp b &nbsp i &nbsp t &nbsp t &nbsp e &nbsp r &nbsp ,</p>
			<p>A &nbsp n &nbsp d &nbsp b &nbsp e &nbsp c &nbsp a &nbsp u &nbsp s &nbsp e &nbsp i &nbsp t &nbsp i &nbsp s &nbsp m &nbsp y &nbsp h &nbsp e &nbsp a &nbsp r &nbsp t &nbsp.</p>
		</body>	
	</html>