<!DOCTYPE html>
	<html>
		<head>
			<title>Sketch 12</title>
		</head>
		<body>
			<p>In the desert</p>
			<p>I saw a creature, naked, bestial,</p>
			<p>Who, squatting upon the ground,</p>
			<p>held his heart in his hands,</p>
			<p>And ate of it.</p>
			<p>I said, &nbsp I &nbsp s &nbsp i &nbsp t &nbsp g &nbsp o &nbsp o &nbsp d &nbsp f &nbsp r &nbsp i &nbsp e &nbsp n &nbsp d &nbsp ?</p>
			<p>I &nbsp t &nbsp i &nbsp s &nbsp b &nbsp i &nbsp t &nbsp t &nbsp e &nbsp r &nbsp b &nbsp i &nbsp t &nbsp t &nbsp e &nbsp r &nbsp , &nbsp he answered;</p>
			<p>B &nbsp u &nbsp t &nbsp I &nbsp l &nbsp i &nbsp k &nbsp e &nbsp i &nbsp t</p>
			<p>B &nbsp e &nbsp c &nbsp a &nbsp u &nbsp s &nbsp e &nbsp i &nbsp t &nbsp i &nbsp s &nbsp b &nbsp i &nbsp t &nbsp t &nbsp e &nbsp r &nbsp ,</p>
			<p>A &nbsp n &nbsp d &nbsp b &nbsp e &nbsp c &nbsp a &nbsp u &nbsp s &nbsp e &nbsp i &nbsp t &nbsp i &nbsp s &nbsp m &nbsp y &nbsp h &nbsp e &nbsp a &nbsp r &nbsp t &nbsp .</p>
		</body>	
	</html>