<!DOCTYPE html>
	<html>
		<head>
			<title>Sketch 8</title>
		</head>
		<body>
			<p>&nbspIn the desert</p>
			<p>&nbsp&nbsp&nbsp&nbspI saw a creature, naked, bestial,</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWho, squatting upon the ground,</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspheld his heart in his hands,</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAnd ate of it.</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspI said, Is it good friend?</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspIt is bitter bitter, he answered;</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBut I like it</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspBecause it is bitter,</p>
			<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAnd because it is my heart.</p>
		</body>	
	</html>