<!DOCTYPE html>
	<html>
		<head>
			<title>Sketch 14</title>
		</head>
		<body>
			<p>In the desert</p>
			<p>I &nbsp s &nbsp a &nbsp w &nbsp a creature, naked, bestial,</p>
			<p>Who, &nbsp s &nbsp q &nbsp u &nbsp a &nbsp t &nbsp t &nbsp i &nbsp n &nbsp g &nbsp upon the ground,</p>
			<p>h &nbsp e &nbsp l &nbsp d &nbsp his heart in his hands,</p>
			<p>And &nbsp a &nbsp t &nbsp e &nbsp of it.</p>
			<p>I &nbsp s &nbsp a &nbsp i &nbsp d &nbsp , &nbsp Is it good friend?</p>
			<p>It is bitter bitter, he &nbsp a &nbsp n &nbsp s &nbsp w &nbsp e &nbsp r &nbsp e &nbsp d &nbsp ;</p>
			<p>But I &nbsp l &nbsp i &nbsp k &nbsp e &nbsp it</p>
			<p>Because it is bitter,</p>
			<p>And because it is my heart.</p>
		</body>	
	</html>