* {
	box-sizing: border-box;
}

body {
	background: black;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;
	z-index: -11;
}
.base{
	position:absolute;
	left:225px;
	top:135px;
	height:400px;
	width:600px;
}
.base.one{
	width: 400px;
	height: 230px;
	-webkit-transform: skew(2deg);
	   -moz-transform: skew(2deg);
	     -o-transform: skew(2deg);
	background:#cfcbcb;
	border-radius: 7px;
	z-index:1

}
.base.two{
	width: 400px;
	height: 230px;
	-webkit-transform: skew(-7deg);
	   -moz-transform: skew(-7deg);
	     -o-transform: skew(-7deg);
	background:#cfcbcb;
	margin-left:-19px;
	border-radius: 7px;
	z-index:2;
	margin-top:245;
}
.base.three{
	width:436px;
	height:15px;
	background:#a7a6a6;
	margin-left:-32px;
	margin-top:230px;
	border-radius:5px;
	 
}
.base.four{
	width:436px;
	height:15px;
	background:#a7a6a6;
	margin-left:-32px;
	margin-top:224px;
	border-radius:2px;
	
}	 
.base.five{
	width:40px;
	height:5px;
	background:#e2e2e2;
	margin-left:165px;
	margin-top:228px;
	border-radius:2px;
	z-index:3;
}
.base.six{
	width: 100px;
	height: 60px;
	-webkit-transform: skew(2deg);
	   -moz-transform: skew(2deg);
	     -o-transform: skew(2deg);
	background:#e2e2e2;
	margin-left:145px;
	margin-top:160px;
	border-radius: 7px;
	z-index:4

}
.base.seven{
	width: 100px;
	height: 60px;
	-webkit-transform: skew(-7deg);
	   -moz-transform: skew(-7deg);
	     -o-transform: skew(-7deg);
	background:#e2e2e2;
	margin-left:-19px;
	margin-left:126px;
	margin-top:160px;
	border-radius: 7px;
	z-index:5;
	margin-top:245;
}
.base.eight{
	width: 350px;
	height: 125px;
	-webkit-transform: skew(2deg);
	   -moz-transform: skew(2deg);
	     -o-transform: skew(2deg);
	background:#e2e2e2;
	margin-left:23px;
	margin-top:27px;
	border-radius: 7px;
	z-index:6;

}
.base.nine{
	width: 350px;
	height: 125px;
	-webkit-transform: skew(-7deg);
	   -moz-transform: skew(-7deg);
	     -o-transform: skew(-7deg);
	background:#e2e2e2;
	margin-left:-19px;
	margin-left:4px;
	margin-top:27px;
	z-index:7;
	margin-top:245;
	border-radius: 7px;
}
.base.ten{
	width: 250px;
	height: 20px;
	-webkit-transform: skew(2deg);
	   -moz-transform: skew(2deg);
	     -o-transform: skew(2deg);
	background:black;
	margin-left:80px;
	margin-top:0px;
	z-index:8;

}
.base.elf{
	width: 250px;
	height: 20px;
	-webkit-transform: skew(-7deg);
	   -moz-transform: skew(-7deg);
	     -o-transform: skew(-7deg);
	background:black;
	margin-left:61px;
	margin-top:0px;
	z-index:9;
	margin-top:245;
}
.base.twelve{
	width: 10px;
	height: 10px;
	background:#e2e2e2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	z-index:13;
	margin-left:380px;
	margin-top:5px;
}

.top{
	position:absolute;
	left:0px;
	top:22px;
	height:400px;
	width:600px;
}
.top.one{
	width: 400px;
	height: 230px;
	background:#cfcbcb;
	border-radius: 7px;
	z-index:1;
	margin-left:445px ;
}
.top.two{
	width: 394px;
	height: 223px;
	background:black;
	border-radius: 7px;
	z-index:2;
	margin-left:448px ;
	margin-top: 3px;
}
.top.three{
	width: 352px;
	height: 184px;
	background:white;
	z-index:2;
	margin-left:470px ;
	margin-top: 20px;
}
#bg{
	width: 900px;
	height: 356px;
	margin: 0px auto;
	background:brown;
	position: relative;
	z-index: -9;
}
#table{
	width: 900px;
	height: 200px;
	margin: 0px auto;
	background:blue;
	position: relative;
	z-index: -10
}

.first{
	position:absolute;
	left:225px;
	top:135px;
	height:400px;
	width:600px;
}
.first.cover{

	
	border-bottom: 175px solid blue;
	border-left: 0px solid transparent;
	border-right: 30px solid transparent;
	height: 0;
	width: 200px;
	position: relative;
	z-index: 1;
	left:-50px;
	top:-30px;
	-webkit-transform: rotate(-40deg);

}
.first.inside{

	
	border-bottom: 150px solid white;
	border-left: 0px solid transparent;
	border-right: 30px solid transparent;
	height: 0;
	width: 175px;
	margin: 0px;
	position: relative;
	top:-171px;
	left:-18px;
	-webkit-transform: rotate(-30deg);

}
.first.side {
    height: 20px;
    width: 225px;
    left: px;
    top: px;
    background-color: blue;
    -webkit-transform: rotate(50deg);
    position: relative;
    left: -131px;
    top: -188px;
}
.first.mask {
    height: 50px;
    width: 25px;
    background-color: brown;
    z-index: 1;
    position: relative;
    left: -109px;
    top: -290px;
}
.first.masque {
    height: 55px;
    width: 50px;
    background-color: brown;
    z-index: 1;
    position: relative;
    left: 30px;
    top: -206px;
}
.first.front{
	height:30px;
	width:175px;
	position: relative;
	top:-308px;
	left:27px;
	z-index: 2;
	background-color: white;
	-webkit-transform: rotate(-30deg);
}
.first.add {
    width: 0;
    height: 0;
    border-top: 30px solid white;
    border-right: 20px solid transparent;
    position: relative;
    z-index: 2;
    left: 21px;
    top: -290px;
    -webkit-transform: rotate(148deg);
}
.first.masc{
	height: 50px;
    width: 50px;
    background-color: brown;
    z-index: 3;
    position: relative;
    left:183px;
    top:-412px;
}
.second{
	position:absolute;
	left:225px;
	top:135px;
	height:400px;
	width:600px;
}
.second.cover{
	height:100px;
	width:200px;
	background-color: red;
	position: relative;
	left:-42px;
	top:90px;
	z-index: -9;
}
.second.front{
	height:30px;
	width:200px;
	background-color: white;
	position: relative;
	left:-42px;
	top:90px;
	z-index: -9;
}
.second.add{
	width: 0;
	height: 0;
	border-bottom: 30px solid white;
	border-left: 50px solid transparent;
	position: relative;
	top:60px;
	left:30px;
	z-index: 5;
}

.fbg{
	width: 0;
	height: 0;
	border-top: 400px solid green;
	border-right: 75px solid transparent;
	position: absolute;
	left: px;
	z-index: -10;
	
}
.background{
	background-color: brown;
	width: 900px;
	height: 556px;
	margin: 100px auto;
	position: relative;
	z-index: -11;
}


